- content_for :page_title do
  = t('admin.ng_words.title')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- content_for :heading do
  %h2= t('admin.ng_words.title')
  = render partial: 'admin/ng_words/shared/links'

= simple_form_for @admin_settings, url: admin_ng_words_white_list_path, html: { method: :post } do |f|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead
    = t('admin.ng_words.white_list_hint')
    = link_to t('admin.ng_words.remote_approval_list'), admin_accounts_path(status: 'remote_pending', origin: 'remote')

  .fields-group
    = f.input :hold_remote_new_accounts, wrapper: :with_label, as: :boolean, label: t('admin.ng_words.hold_remote_new_accounts'), hint: t('admin.ng_words.remote_approval_hint')

  %h4= t('admin.ng_words.white_list_header')

  .table-wrapper
    %table.table.keywords-table#white-list-table
      %thead
        %tr
          %th= t('simple_form.labels.defaults.domain')
          %th
      %tbody
        = f.simple_fields_for :specified_domains, @white_list_domains do |domain|
          = render partial: 'specified_domain', collection: @white_list_domains, locals: { f: domain, template: false }

        = f.simple_fields_for :specified_domains, @white_list_domains do |domain|
          = render partial: 'specified_domain', collection: [SpecifiedDomain.new], locals: { f: domain, template: true }
      %tfoot
        %tr
          %td{ colspan: 2 }
            = link_to safe_join([material_symbol('add'), t('admin.ng_words.edit.add_domain')]), '#', class: 'table-action-link add-row-button'

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
