.batch-table__row{ class: ['batch-table__row--attention'] }
  .batch-table__row__content.batch-table__row__content--unpadded
    %table.media-attachments-table
      %tbody
        %tr
          %td
            %img.image{ src: media_attachment.url, alt: '' }
            .detailed-status__meta
              - if media_attachment.status.application
                = media_attachment.status.application.name
                ·
              = link_to ActivityPub::TagManager.instance.url_for(media_attachment.status), class: 'detailed-status__datetime', target: stream_link_target, rel: 'noopener noreferrer' do
                %time.formatted{ datetime: media_attachment.status.created_at.iso8601, title: l(media_attachment.status.created_at) }= l(media_attachment.status.created_at)
              - if media_attachment.status.edited?
                ·
                = link_to t('statuses.edited_at_html', date: content_tag(:time, l(media_attachment.status.edited_at), datetime: media_attachment.status.edited_at.iso8601, title: l(media_attachment.status.edited_at), class: 'formatted')), admin_account_status_path(media_attachment.status.account_id, media_attachment.status), class: 'detailed-status__datetime'
              - if media_attachment.status.discarded?
                ·
                %span.negative-hint= t('admin.statuses.deleted')
              ·
              - if media_attachment.status.reblog?
                = fa_icon('retweet fw')
                = t('statuses.boosted_from_html', acct_link: admin_account_inline_link_to(media_attachment.status.proper.account))
              - else
                = fa_visibility_icon(media_attachment.status)
                = t("statuses.visibilities.#{media_attachment.status.visibility}")
              - if media_attachment.status.proper.sensitive?
                ·
                = fa_icon('eye-slash fw')
                = t('stream_entries.sensitive_content')
