- content_for :page_title do
  = t('admin.accounts.title')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

= form_for(@form, url: admin_media_attachments_path) do |f|
  = hidden_field_tag :page, params[:page] || 1
  = hidden_field_tag :select_all_matching, '0'

  - AccountFilter::KEYS.each do |key|
    = hidden_field_tag key, params[key] if params[key].present?

  .batch-table
    .batch-table__toolbar
    - if @media_attachments.total_count > @media_attachments.size
      .batch-table__select-all
        .not-selected.active
          %span= t('generic.all_items_on_page_selected_html', count: @media_attachments.size)
          %button{ type: 'button' }= t('generic.select_all_matching_items', count: @media_attachments.total_count)
        .selected
          %span= t('generic.all_matching_items_selected_html', count: @media_attachments.total_count)
          %button{ type: 'button' }= t('generic.deselect')
    .batch-table__body
      - if @media_attachments.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'media_attachment', collection: @media_attachments, locals: { f: f }

= paginate @media_attachments
