.batch-table__row
  %label.batch-table__row__select.batch-checkbox
    -# = f.check_box :history_ids, { multiple: true, include_hidden: false }, history.id
  .batch-table__row__content
    .status__content><
      = html_aware_format(history.text, false)

    .detailed-status__meta
      %span.negative-hint= history.keyword
      路
      - if history.within_ng_words?
        = t('admin.ng_words.keywords')
      - elsif history.within_ng_words_for_stranger_mention?
        = t('admin.ng_words.keywords_for_stranger_mention')

      %br/

      %time.formatted{ datetime: history.created_at.iso8601, title: l(history.created_at) }= l(history.created_at)
      路
      - if history.account_note_blocked?
        = t('admin.ngword_history.target_types.account_note')
      - elsif history.account_name_blocked?
        = t('admin.ngword_history.target_types.account_name')
      - elsif history.status_blocked?
        = t('admin.ngword_history.target_types.status')
      路
      = history.uri
      -# if history.application
        = history.application.name
        路
