- temporary_id = defined?(@temp_id) ? @temp_id += 1 : @temp_id = 1
%tr{ class: template ? 'template-row' : nil }
  %td= f.input :keywords, as: :string, input_html: { multiple: true, value: ng_word.keyword }
  %td
    .label_input__wrapper= f.check_box :regexps, { multiple: true, checked: ng_word.regexp }, temporary_id, nil
  %td
    .label_input__wrapper= f.check_box :strangers, { multiple: true, checked: ng_word.stranger }, temporary_id, nil
  %td
    = hidden_field_tag :'form_admin_settings[ng_words_test][temporary_ids][]', temporary_id, class: 'temporary_id'
    = link_to safe_join([material_symbol('close'), t('filters.index.delete')]), '#', class: 'table-action-link delete-row-button'
