- content_for :page_title do
  = t('admin.sensitive_words.title')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

= simple_form_for @admin_settings, url: admin_sensitive_words_path, html: { method: :post } do |f|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead= t 'admin.sensitive_words.hint'

  %p= t 'admin.sensitive_words.phrases.regexp_html'
  %p= t 'admin.sensitive_words.phrases.remote_html'
  %p= t 'admin.sensitive_words.phrases.spoiler_html'

  %hr/

  .table-wrapper
    %table.table.keywords-table#sensitive-words-table
      %thead
        %tr
          %th= t('simple_form.labels.defaults.phrase')
          %th= t('admin.sensitive_words.phrases.regexp_short')
          %th= t('admin.sensitive_words.phrases.remote_short')
          %th= t('admin.sensitive_words.phrases.spoiler_short')
          %th
      %tbody
        = f.simple_fields_for :sensitive_words_test, @sensitive_words do |keyword|
          = render partial: 'sensitive_word', collection: @sensitive_words, locals: { f: keyword, template: false }

        = f.simple_fields_for :sensitive_words_test, @sensitive_words do |keyword|
          = render partial: 'sensitive_word', collection: [SensitiveWord.new], locals: { f: keyword, template: true }
      %tfoot
        %tr
          %td{ colspan: 4 }
            = link_to safe_join([fa_icon('plus'), t('filters.edit.add_keyword')]), '#', class: 'table-action-link add-row-button'

  .fields-group
    = f.input :auto_warning_text, wrapper: :with_label, input_html: { placeholder: t('admin.sensitive_words.alert') }, label: t('admin.sensitive_words.auto_warning_text'), hint: t('admin.sensitive_words.auto_warning_text_hint')

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
