- content_for :page_title do
  = t('antennas.new.title')

= simple_form_for @antenna, url: antennas_path do |f|
  = render 'shared/error_messages', object: @antenna
  = render 'antenna_fields', f: f, lists: @lists

  .actions
    = f.button :button, t('antennas.new.save'), type: :submit
