- content_for :page_title do
  = t('admin.ng_words.title')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

= simple_form_for @admin_settings, url: admin_ng_words_path, html: { method: :post } do |f|
  = render 'shared/error_messages', object: @admin_settings

  .fields-group
    = f.input :ng_words, wrapper: :with_label, as: :text, input_html: { rows: 12 }, label: t('antennas.edit.keywords_raw')

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
