- content_for :page_title do
  = t('privacy_extra.title')

- content_for :heading do
  %h2= t('settings.profile')
  = render partial: 'settings/shared/profile_navigation'

= simple_form_for @account, url: settings_privacy_extra_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: @account

  %p.lead= t('privacy_extra.hint_html')

  %h4= t('privacy_extra.post_processing')

  %p.lead= t('privacy_extra.post_processing_hint_html')

  = f.simple_fields_for :settings, current_user.settings do |ff|
    .fields-group
      = ff.input :translatable_private, wrapper: :with_label, kmyblue: true, label: I18n.t('simple_form.labels.defaults.setting_translatable_private')

    .fields-group
      = ff.input :link_preview, wrapper: :with_label, kmyblue: true, label: I18n.t('simple_form.labels.defaults.setting_link_preview'), hint: I18n.t('simple_form.hints.defaults.setting_link_preview')

    .fields-group
      = ff.input :allow_quote, wrapper: :with_label, kmyblue: true, label: I18n.t('simple_form.labels.defaults.setting_allow_quote'), hint: false

  %h4= t 'privacy_extra.stop_deliver'

  %p.lead= t('privacy_extra.stop_deliver_hint_html')

  = f.simple_fields_for :settings, current_user.settings do |ff|
    - if Setting.enable_public_unlisted_visibility
      .fields-group
        = ff.input :reject_public_unlisted_subscription, kmyblue: true, as: :boolean, wrapper: :with_label, label: I18n.t('simple_form.labels.defaults.setting_reject_public_unlisted_subscription')

    .fields-group
      = ff.input :reject_unlisted_subscription, kmyblue: true, as: :boolean, wrapper: :with_label, label: I18n.t('simple_form.labels.defaults.setting_reject_unlisted_subscription'), hint: I18n.t('simple_form.hints.defaults.setting_reject_unlisted_subscription')

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
